# Exclude some files and directories from the project's releases
/.gitignore export-ignore
/.gitattributes export-ignore
/phpunit.xml.dist export-ignore
/env_dist export-ignore
/documentation/ export-ignore
/tests/ export-ignore
